{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <div class="mod-pageheader" style="background-image: url( {{TimberImage(options.pageheader_background).src}}">
        <div class="container">
          <h1 class="article-h1">Kennisbank </h1>
        </div>
      </div>
      <section class="mod-type alt">
        <div class="container">
          <ul class="tag-list">
    	      <li class="{% if term.slug == '' %} active {% endif %}">
    	        <a href="/kennisbank">Alle</a>
            </li>
            {% for cat in type %}
              {% if cat.get_posts|length > 0 %}
                <li class="{{ cat.slug }} {% if term.slug == cat.slug %} active {% endif %} ">
                  <a href="{{ cat.link }}">{{ cat.name }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <div class="clearfix"></div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-xl-9">
              <div class="mod-kennisbank">
                {% for item in kennisbank %}
                  <div class="item">
                    <div class="head">
                      <a {% if item.content %} href="{{item.link}}" {% endif %}>
                        {% if item.terms('type')|length > 0 %}
                          {% for term in item.terms('type') %}
                            <img width="190" height="190" src="
                            {% if item.kb_afbeelding %} 
                              {{ TimberImage(item.kb_afbeelding).src }} 
                            {% elseif term.kb_afbeelding %}
                              {{ term.kb_afbeelding }}
                            {% endif %}" class="proraillogo"> 
                          {% endfor %}
                        {% else %}
                          <img width="190" height="190" src="{{ theme.link }}/static/img/btdtile.png" class="proraillogo"> 
                        {% endif %}
                      </a>
                      <h3>
                        {% if item.content %}<a href="{{item.link}}" >{% endif %}
                          {{ item.title }}
                        {% if item.content %}</a>{% endif %}
                      </h3>
                      <div class="date">{{ item.date }}</div>
                      {{ item.get_field('kb_toelichting') }}
                    </div>
                    {% if item.content %}
                      <a class="btn btn-outline" href="{{item.link}}"> Bekijken </a>
                    {% else %}
                      {% if item.kb_file %}            
                        {% set file = TimberImage(item.kb_file) %}
                        <a class="btn btn-outline" target="_blank" href="{{ file.src }}" download>Download </a>
                      {% endif %}
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}