{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="mod-top inverted" style="background-image: url({{ TimberImage(post.get_field('background')).src }})">
			  <div class="container">
  				<div class="text-center">
  				  <h1 class="slogan">{{ post.slogan }}</h1>
  				  <h3> {{ post.intro }} </h3>
            <a href="{{ topknoplink }}" class="btn btn-outline-primary"> {{ post.top_knop_tekst }} </a>
            {% if post.bekijkvideo %}
              <a class="btn btn-primary" data-lity href="https://www.youtube.com/watch?v={{ post.embed_code }}"> {{ post.bekijk_video_tekst }}</a>
            {% endif %}
  				</div> 
			  </div>
			  <a href="http://www.prorail.nl" target="_blank"> <img class="prorail" alt="prorail" src="{{ options.prorail_logo }}"> </a>
        <div class="btn-scrolldown">
		      <img width="60" height="60" src="{{theme.link}}/static/img/down-chevron.svg">
        </div>
			</section>
			<section id="newsblock">
			  <div class="container">
  			  <div class="text-center">
  			    <h2 class="center">  Eerstvolgende bijeenkomst </h2>
  			  </div>
			    <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="mod-kalender-home">
                {% if kalender|length == 0 %} 
                  Er zijn geen evenementen geplanned op dit moment
                  <br>
                {% else %}
                  {% for item in kalender %}
                    <div class="item {% if loop.first %} first {% endif %}" href="{{ item.permalink }}">
                      <div class="date">
                        <div class="d">
                          {{ item.datum|date('d') }}
                        </div>
                        <div class="m">
                          {% if loop.first %}
                            {{ item.datum|date('M') }}
                          {% else %}
                            {{ item.datum|date('F') }}
                          {% endif %}
                        </div>
                      </div>
                      <h3> {{ item.title }} </h3>
                      <p> {{ item.locatie }} </p>
                    </div>
      	          {% endfor %}
                {% endif %}
    	          <br>
    	          <div class="text-center">
        	        <a class="btn btn-outline" href="/kalender"> Bekijk kalender </a>
        	      </div>
              </div>
            </div>
          </div>
			  </div>
			</section>
			<section class="mod-formbar alt">
			  <div class="container">
			    <div class="text-center">
			      <h2 class="center">{{ options.form_titel }}</h2>
			    </div>
			    <div class="row">
			      <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
              {% include "form.twig" %}
			      </div>
			    </div>
			  </div>
			</section>
			<section class="mod-kennisbank-home">
  			<div class="container">
  			  <div class="text-center">
  			    <h2 class="center"> Kennisbank </h2>
  			  </div>
          <div class="row">
  			    {% for item in kennisbank %}
  			      <div class="col-md-4">
                <div class="item">
                  <div class="head">
                    <div class="row">
                      <div class="col-3 col-md-12">
                        <a {% if item.content %} href="{{item.link}}" {% endif %}>
                          {% if item.terms('type')|length > 0 %}
                            {% for term in item.terms('type') %}
                              <img width="190" height="190" src="
                              {% if item.kb_afbeelding %} 
                                {{ TimberImage(item.kb_afbeelding).src }} 
                              {% elseif term.kb_afbeelding %}
                                {{ term.kb_afbeelding }}
                              {% endif %}" class="proraillogo"> 
                            {% endfor %}
                          {% else %}
                            <img width="190" height="190" src="{{ theme.link }}/static/img/btdtile.png" class="proraillogo"> 
                          {% endif %}
                        </a>
                      </div>
                      <div class="col-9 col-md-12">  
                        <h3>
                          {% if item.content %}<a href="{{item.link}}" >{% endif %}
                            {{ item.title }}
                          {% if item.content %}</a>{% endif %}
                        </h3>
                        <div class="date">{{ item.date }}</div>
                        {{ item.get_field('kb_toelichting') }}
                        {% if item.content %}
                          <a class="btn-readmore" href="{{item.link}}"> <span></span> Bekijken </a>
                        {% else %}
                          {% if item.kb_file %}            
                            {% set file = TimberImage(item.kb_file) %}
                            <a class="btn-readmore" target="_blank" href="{{ file.src }}" download><span></span> Download </a>
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
  			  </div>
  			  <div class="text-center">
  	        <a class="btn btn-outline" href="http://www.btd-planner.nl/kennisbank/"> Meer kennisbank</a>
  	      </div>
  			</div>
			</section>
      {% include 'pagebuilder.twig' %}
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}